


*{  
    background: #FFFBDA;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
img{
   
    width: 400px;
    height: 450px;
    margin: 10px;
    
}
.hori2{
    
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}




h1{ padding-top: 10px;
    padding-bottom: 10px;
    font-family:cursive;
    text-align: center;
    
}

.img1{
    
 height: 42%;
 width: 100%;
 
}
.table1{
    display: block;
    margin: auto;
    height: auto;
    width: 60% ;

   padding-top: 50;
}

.uno{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    padding: 40;
    text-size-adjust: 40px;
    text-align: center;
}

.img2{
    border-radius: 100%;
    height: 30%;
    width: 60% ;
    
}

    
.toto1{ 
    padding-top: 10px;
    list-style-image: url('webpcss/instagram.png');
    
}
.toto2{ 
    padding-top: 5px;
    list-style-image:url('webpcss/gmail1.png');
    
}

 a{ 
    text-decoration: none;
    color: rgb(0, 0, 0);} 
    
.td2{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


footer{
    background:#ED9455;
    padding-top: 50px;
}
.container{
    background:#ED9455;
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    background:#ED9455;
   
    width: 33.3%;
}
h3{
    color: white;
    background:#ED9455;
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    background:#ED9455;
    width:190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{

    background:#ED9455;
    text-align: center;
}
.list{
    color: white;
    background:#ED9455;
 
    padding: 0;
}
.list li{
    background:#ED9455;
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
}
.list li::before{
    background:#ED9455;
    
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background:brown;
    transition-duration: 1s;
}
.list li:hover::before{
    
    background:#ED9455;
    width: 70px;
}
.social-icons{
    background:#ED9455;
    text-align: center;
    padding: 0;
}
.social-icons li{
    color: white;
    
    background:#ED9455;
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    background:#ED9455;
    color: white;
    font-size: 25px;
}
a{
    color: white;
    background:#ED9455;
    text-decoration: none;
}
a:hover{
    background:#ED9455;
    color:brown;
}
.social-icons i:hover{
    background:#ED9455;
    color:brown;
}
.bottom-bar{
    background:#ED9455;
    /* background:brown; */
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    background:#ED9455;
    font-family: cursive;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}

.footer-content{
    background:#ED9455;
}


footer{
    color: white;
}

a .toto1{
    color:#2B2A4C;
}
a .toto2{
    color:#2B2A4C;
}



.box{
   background: none;
}

.box:hover{
    transition-duration: 0.9s;
    transform: scale(1.2);
    
}

.box img{
    border-radius: 5px;
}